@import url("../clash-display/css/clash-display.css");
@import url("../general-sans/css/general-sans.css");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ClashDisplay-Semibold;
}

body {
  font-family: GeneralSans-Regular;
}

.fade-up,
.note {
  transition: 1s ease;
}

.note {
  color: black;
}

.note:hover {
  cursor: pointer;
  background: #181818;
  color: #fafada;
}

.fade-up {
  transform: translateY(0);
}

.fade-up:hover {
  transform: translateY(-0.24rem);
}

.moving {
  animation: moving 10s ease-in-out 1250ms infinite alternate forwards;
}

@keyframes moving {
  from {
    transform: translateX(-500px);
    translatex: 0;
  }

  to {
    transform: translateX(500px);
  }
}
