{% include 'layouts/base.html' %} {% block content %}
<section class="container py-5">
  <div class="d-flex justify-content-between align-items-center">
    <h1>
      <a class="text-dark text-decoration-none" href="{{url_for('index')}}"
        >Quik Note</a
      >
    </h1>
    <div>
      <a
        href="{{url_for('note.note_page', id='')}}"
        class="btn btn-dark fade-up font-bold rounded-pill"
        >Create Note</a
      >
      <a
        href="{{url_for('user.sign_out')}}"
        class="btn btn-outline-danger fade-up font-bold rounded-pill"
        >Sign Out</a
      >
    </div>
  </div>
  <p>
    Welcome <b>{{current_user.username|capitalize}}</b>, Here are your notes :)
  </p>

  {% if notes %}
  <div class="my-5 row row-cols-1 row-cols-md-2 row-cols-lg-3">
    {% for note in notes %}

    <!-- Card 1-->
    <div class="col mb-4">
        <a href="{{url_for('note.note_page', id=note.id)}}" class="d-block text-decoration-none  p-2 fade-up note border border-muted rounded-3">
        <h4>{{note.title}}</h4>
        <p class="text-muted">{{note.content}}</p>
      </a>
    </div>

    {% endfor %}
  </div>

  {% else %}

  <!-- No Note -->
  <div
    style="min-height: 80vh"
    class="d-flex justify-content-center align-items-center"
  >
    <h1>You Don't Have Any Note</h1>
  </div>

  {% endif %}
</section>
{% endblock %}
