{% include 'layouts/base.html' %} {% block content %}
<section>
  <div class="row">
    <!-- Card -->
    <div class="col-12 col-lg-6 mb-2">
      <div class="border boder-muted p-2 rounded-3">
        <h4>Title</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit,
          molestiae iusto labore rem praesentium eum eveniet nesciunt cumque
          harum minus alias fugit sapiente asperiores at magnam corrupti sint
          doloribus? Consequuntur.
        </p>
        <span class="text-muted"> 10th Jan 2024 </span>
      </div>
    </div>
    <!-- Card -->
    <div class="col-12 col-lg-6 mb-2">
      <div class="border boder-muted p-2 rounded-3">
        <h4>Title</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit,
          molestiae iusto labore rem praesentium eum eveniet nesciunt cumque
          harum minus alias fugit sapiente asperiores at magnam corrupti sint
          doloribus? Consequuntur.
        </p>
        <span class="text-muted"> 10th Jan 2024 </span>
      </div>
    </div>
    <!-- Card -->

    <div class="col-12 col-lg-6 mb-2">
      <div class="border boder-muted p-2 rounded-3">
        <h4>Title</h4>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit,
          molestiae iusto labore rem praesentium eum eveniet nesciunt cumque
          harum minus alias fugit sapiente asperiores at magnam corrupti sint
          doloribus? Consequuntur.
        </p>
        <span class="text-muted"> 10th Jan 2024 </span>
      </div>
    </div>
    <!-- Card -->
  </div>
</section>
{% endblock %}
