{% include 'layouts/base.html' %} {% block content %}
<section class="container py-5">
  <div class="d-flex justify-content-between align-items-center">
      <h1><a class="text-dark text-decoration-none" href="{{url_for('index')}}">Quik Note</a></h1>
      <div>
      <a href="{{url_for('note.note_page', id='')}}" class="btn btn-dark fade-up font-bold rounded-pill">Create Note</a>
      <a href="{{url_for('user.sign_out')}}" class="btn btn-outline-danger fade-up font-bold rounded-pill">Sign Out</a>
      </div>
  </div>

  <!-- No Note -->
  <div
    style="min-height: 80vh"
    class="d-none justify-content-center align-items-center"
  >
    <h1>You Don't Have Any Note</h1>
  </div>

  <div class="my-5 row row-cols-1 row-cols-md-2 row-cols-lg-3">

    <!-- Card 1-->
    <div class="col mb-4">
      <div class="p-2  fade-up note  border border-muted rounded-3">
        <h4>Lorem Ispum</h4>
        <p>Lorem Ispum</p>
      </div>
    </div>

    <!-- Card 2-->
    <div class="col mb-4">
      <div class="p-2  fade-up note  border border-muted rounded-3">
        <h4>Lorem Ispum</h4>
        <p>
        Lorem Ispum
        Lorem Ispum
        Lorem Ispum
        Lorem Ispum
        Lorem Ispum
        Lorem Ispum
        Lorem Ispum
        Lorem Ispum
        Lorem Ispum
        Lorem Ispum
        Lorem Ispum
        </p>
      </div>
    </div>

    <!-- Card 1-->
    <div class="col mb-4">
      <div class="p-2  fade-up note  border border-muted rounded-3">
        <h4>Lorem Ispum</h4>
        <p>Lorem Ispum</p>
      </div>
    </div>

    <!-- Card 2-->
    <div class="col mb-4">
      <div class="p-2  fade-up note  border border-muted rounded-3">
        <h4>Lorem Ispum</h4>
        <p>Lorem Ispum</p>
      </div>
    </div>



    <!-- Card 1-->
    <div class="col mb-4">
      <div class="p-2  fade-up note  border border-muted rounded-3">
        <h4>Lorem Ispum</h4>
        <p>Lorem Ispum</p>
      </div>
    </div>

    <!-- Card 2-->
    <div class="col mb-4">
      <div class="p-2  fade-up note  border border-muted rounded-3">
        <h4>Lorem Ispum</h4>
        <p>Lorem Ispum</p>
      </div>
    </div>




  </div>
</section>
{% endblock %}
